<div class="space space-component vtop hleft">
  <label class="text text-basic label">Full name</label>
  <input nbInput class="input" placeholder="" fieldSize="medium" type="text" shape="rectangle" fullWidth>
  <label class="text text-basic label">Email</label>
  <input nbInput class="input" placeholder="" fieldSize="medium" type="email" shape="rectangle" fullWidth>
  <label class="text text-basic label">Password</label>
  <input nbInput class="input" placeholder="" fieldSize="medium" type="password" shape="rectangle" fullWidth>
  <a href="" target="_blank"  class="text-primary">Already have an account? Sign in</a>
</div>