<nb-card class="card" accent="success">
  <nb-card-header class="slot">
    <div class="space space-component vcenter hcenter col-md-12">
      <img class="image" src="https://c7.uihere.com/files/348/800/890/computer-icons-avatar-user-login-avatar.jpg">
    </div>
    <div class="space space-component vcenter hcenter col-md-12">
      <h3 class="text-basic">Sign Up</h3>
    </div>
  </nb-card-header>

  <nb-card-body class="slot">
    <app-sign-up-form class="col-md-12"></app-sign-up-form>
  </nb-card-body>

  <nb-card-footer class="slot">
    <div class="space space-component vcenter hleft col-md-12">
      <button nbButton class="" size="medium" status="success" appearance="filled" fullWidth>
          Sign Up
      </button>
    </div>
  </nb-card-footer>
</nb-card>